#mySidebar{z-index:3;width:300px;font-weight:bold;}
#a_1d6f_0{width:100%;font-size:22px}
#myOverlay{cursor:pointer}
#div_1d6f_0{margin-left:340px;margin-right:40px}
#VRC99909A{margin-top:80px}
#hr_1d6f_0{width:50px;border:5px solid red}
#img_1d6f_0{width:300px;height:250px}
#img_1d6f_1{width:300px;height:250px}
#img_1d6f_2{width:300px;height:250px}
#img_1d6f_3{width:300px;height:250px}
#img_1d6f_4{width:300px;height:250px}
#img_1d6f_5{width:300px;height:250px}
#img_1d6f_6{width:300px;height:250px}
#img_1d6f_7{width:300px;height:250px}
#img_1d6f_8{width:300px;height:250px}
#img_1d6f_9{width:300px;height:250px}
#img_1d6f_10{width:300px;height:250px}
#img_1d6f_11{width:300px;height:250px}
#modal01{padding-top:0}
#VEXIQ999A{margin-top:75px}
#hr_1d6f_1{width:50px;border:5px solid red}
#Outreach{margin-top:75px}
#hr_1d6f_2{width:50px;border:5px solid red}
#img_1d6f_20{width:100%}
#img_1d6f_21{width:100%}
#img_1d6f_22{width:100%}
#packages{margin-top:75px}
#hr_1d6f_3{width:50px;border:5px solid red}
#contact{margin-top:75px}
#hr_1d6f_4{width:50px;border:5px solid red}
#div_1d6f_1{margin-top:75px;padding-right:58px}
figure {
  float: left;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 5.0em;
  padding: .05em;
}
